<section class="content-header">
    <h1>Funcionários OK<small>Cadastro</small></h1>
</section>


<section>
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#cadastrar-modal">Cadastrar</a>

    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Cargo</th>
                    <th>CRM</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="funcionario in funcionarios">
                    <td>{{funcionario.nome}}</td>
                    <td>{{funcionario.matricula}}</td>
                    <td>{{funcionario.cargo}}</td>
                    <td>{{funcionario.crm}}</td>
                    <td><button type="button" class="btn btn-primary">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" ng-click="removerFuncionario( funcionario )">Remover</button></td>
                </tr>
            </tbody>
        </table>    
    </div>


!-- Modal -->
<div class="modal fade" id="cadastrar-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Novo funcionário</h4>
      </div>
      <div class="modal-body">



            <div role="form">
                        <div class="box-body">
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input id="nome" class="form-control" ng-model="funcionarioNovo.nome" placeholder="Informe o nome">
                                </div>
                                <div class="form-group">
                                    <label for="cpf">CPF</label>
                                    <input id="cpf" class="form-control" ng-model="funcionarioNovo.cpf" placeholder="Informe o CPF">
                                </div>
                                <div class="form-group">
                                    <label for="matricula">Matrícula</label>
                                    <input id="matricula" class="form-control" ng-model="funcionarioNovo.matricula" placeholder="Informe o CPF">
                                </div>

                                <div class="form-group">
                                    <label for="cargo">Cargo</label>
                                    <select class="form-control" ng-model="funcionarioNovo.cargo">
                                        <option value="" selected="selected" >Selecione</option>
                                        <option value="MEDICO">Médico(a)</option>
                                        <option value="ENFERMEIRO">Enfermeiro(a)</option>
                                        <option value="TECNICO">Técnico(a)</option>
                                        <option value="ATENDENTE">Atendente</option>
                                        <option value="DIRETOR">Diretor(a)</option>
                                    </select>

                                </div>

                                <!--<div class="form-group">
                                    <label for="rua">Rua</label>
                                    <input id="rua" class="form-control" placeholder="Informe a rua">
                                </div>
                                <div class="form-group">
                                    <label for="cep">Rua</label>
                                    <input id="cep" class="form-control" placeholder="Informe o CEP">
                                </div>-->
                                
                            </div>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary" ng-click="CriarFuncionario()">Incluir</button>
                            <button class="btn btn-info">Alterar</button>
                            <button class="btn btn-danger">Excluir</button>
                            <button class="btn btn-default">Cancelar</button>
                        </div>
                    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="criarFuncionario()">Cadastrar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div> <!-- /.modal -->


</section>
